.AddToCart {
    margin-top: 10px;
    font-weight: 600;
    color: #252525;
  }
  .AddToCart .AddCard {
    background-image: linear-gradient(to bottom, #6db8e6, #3a7bbf);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .AddToCart .AddCard:hover {
      background-color: #133e59;
      color: #fff;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }