.AddToCart {
    margin-top: 10px;
    font-weight: 600;
    color: #252525;
  }
  .AddToCart .AddCart {
    background-color: rgb(0, 255, 0);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .AddToCart .AddCart:hover {
      background-color: #23df06;
      color: #000000;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s linear;
  }