* {
    box-sizing: border-box;
    margin: 0;
}
.Layout {
    display: grid;
    grid-template-areas: "header header"
                          "aside main"
                          "footer footer";
    grid-template-columns: 1fr 6fr;
    max-width: 100%;
    margin: 0 auto;
}
@media (max-width: 750px) {
    .Layout {
        display: grid;
        grid-template-areas: "header header"
                              "aside aside"
                              "main main"
                              "footer footer";
        grid-template-columns: 1fr 6fr;
        max-width: 100%;
        margin: 0 auto;
    }
  }
.Layout header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}
.Layout aside {
    grid-area: aside;
}
.Layout main {
    grid-area: main;
}
.Layout footer {
    grid-area: footer;
}