.ProductList .Product {
    display: flex;
    flex-direction: column;
    max-width: 200px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s;
    margin-top: 20px;
    max-width: 200px;

}
.ProductList .Product:hover {
    transform: scale(1.1);
}
.ProductList .Product img {
    width: 100%;
}
div .ProductList {
    display: flex;
    flex-wrap: wrap;
}
.Product img {
    padding-bottom: 15px;
}
.Product span {
    padding-bottom: 5px;
}
.Category h1 {
    color: #333;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  max-width: 300px;
}
