.Home {
    border-radius: 10px;
    padding: 10px;
  }
  .Home .box-2 {
    background-color: rgba(199, 199, 199, 0.632);
    padding: 50px 20px;
    border-radius: 20px;
    margin: 26px 0 28px 0;
    text-align: center;
  }
  .Home .dop-product {
    width: 98%;
    border-radius: 20px;
    transition: 200ms linear;
  }
  .Home .product-Home {
    display: flex;
  }
  .Home .product-Home .cush-3 {
    display: flex;
    justify-content: flex-end;
  }