.Home {
    border-radius: 10px;
    padding: 10px;
  }
  .Home .box-2 {
    background-color: rgba(199, 199, 199, 0.632);
    padding: 50px 20px;
    border-radius: 20px;
    margin: 26px 0 28px 0;
    text-align: center;
  }
  .Home .dop-product {
    width: 98%;
    border-radius: 20px;
    transition: 200ms linear;
  }
  .Home .product-Home {
    display: flex;
  }
  .Home .product-Home .cush-3 {
    display: flex;
    justify-content: flex-end;
  }
  .Home .product-Home .cush-1 {
    display: flex;
    justify-content: flex-start;
  }
  .cushioned:hover,
  .cushioned-3:hover {
    filter: brightness(0.8);
  }
  .Home .cushioned-3 {
    width: 98%;
  }
  
  .video {
    position: relative;
    text-align: center;
  }
  
  .video video {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 20px;
  }
  
  .header-image {
    width: 100%;
    height: auto;
    transition: 500ms ease, transform 500ms ease;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.728);
    padding: 10px;
    border-radius: 10px;
  }
  .header-text h1 {
    margin: 0;
  }
  
  .header-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 800px) {
    .header-text .header-title {
      font-size: 1.8rem;
    }
    .header-text .header-subtitle {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 670px) {
    .header-text .header-title {
      font-size: 0.8rem;
    }
    .header-text .header-subtitle {
      font-size: 0.3rem;
    }
  }
  
  .header-subtitle {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .header-image:hover {
    opacity: 0.7;
  }