.AboutInfo {
    background-image: url(../../assets/ski-photo.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    color: #000000;
    background-color: #00000065;
    box-shadow: 1px 3px solid black;
  }
  
  h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: #000000;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 600px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }