.CategoryList {
    padding: 15px;
    background: white;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    
  }
  .CategoryList h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
  }
  .CategoryList h3:after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    right: 5px;
    bottom: 2px;
   
  }
  .CategoryList ul {
    list-style: none;
      margin: 0;
      padding: 0;
    border-top: 1px solid rgba(95, 89, 89, 0.67);
  }
  .CategoryList li {
    margin: 12px 0 0 0px;
  }
  .CategoryList a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: rgba(31, 30, 30, 0.64);
    padding: 5px;
    position: relative;
    transition: 0.3s linear;
  }
  .CategoryList a:after {
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    right: 5px;
    color: white;
    transition: 0.2s linear;
  }
  .CategoryList a.active {
    background: #b685ff;
    color: #ffffff;
  }