.CategoryList {
    background-color: rgba(255, 255, 255, 0.356);
    border: 1px solid rgba(0, 0, 0, 0.442);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    max-width: 220px;
    background-repeat: no-repeat;
    background-position: 40%;
    margin-left: 10px;
    
  }
  .CategoryList h3 {
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
  }
  .CategoryList h3:after {
    content: "";
    width: 9px;
    height: 7px;
    position: absolute;
    right: 10px;
    bottom: 10px;
   
  }
  .CategoryList ul {
    list-style: none;
      margin: 0;
      padding: 0;
    border-top: 1px solid rgba(95, 89, 89, 0.67);
  }
  .CategoryList li {
    margin: 12px 0 0 0px;
    max-width: 200px;
  }
  .CategoryList a {
    text-decoration: none;
    display: block;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.822);
    padding: 5px;
    position: inherit;
    transition: 0.5s ease-in;
  }
  .CategoryList a:after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    right: 5px;
    color: rgb(0, 0, 0);
    transition: 0.3s step-start;
  }
  .CategoryList a:hover {
    font-size: 3.5svh;

  }
  .CategoryList a.active {
    background: #00000089;
    color: #ffffff;
    opacity: 1;
    border-radius: 17px;
  }