.Auth .log {
    background-color: #aeb409cf; 
    box-shadow: 0 3px 5px black;
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out; 
  }
  .Auth span a {
    color: #0074d9;
  }
  .Auth span {
    display: flex;
  
  }
  .Auth img {
    margin-top: 0.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  @media (max-width: 820px) {
    .Auth span {
      font-size: 12px;
    }
    .Auth .log {
      font-size: 12px;
    }
  }
  